body {
  align-items: center;
}

.IndexHeader {
	font-family: "LuciaConsole";
  color: #f44336;
}

.ButtonsSection {
  margin: 5px 0px;
}

.ButtonsSection button {
	margin: 10px 30px;
	border-radius: 8px;
  background-color: #f44336;
  color: white;
  padding: 15px 32px;
  font-family: ;
}
