<!DOCTYPE HTML>
<html xmls:th="http://www.thymeleaf.org">
<head>
	<title>Healthchain Diseases Main Page</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{/css/index.css}"/>
</head>
<body>
	<div class="PageHeader">
		<h1>DISEASES</h1>
	</div>

	<div class="ButtonsSection">
		<button type="button" th:onclick="|window.location.href='/diseases/existing'|">Existing</button>
		<button type="button" th:onclick="|window.location.href='/diseases/create'|">New</button>
	</div>
</body>
</html>
