<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Healthchain Medicine Records Page</title>
	<!-- <link th:href = "@{/css/recordviewer.css}"> -->
</head>

<body>
	<div class="RecordsHeader">
		<h1>Hospital Records</h1>
	</div>

	<div class="RecordsTable">
		<table id="records">
			<thead>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>Employee ID</th>
					<th>Date Admitted</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Kaiser Permanente Hospital</td>
					<td>Milpitas</td>
					<td>57483765</td>
					<td>3/15/2021</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
